<% title @game %>
<%= link_to 'Games', cardpicker_index_path %> |
<%= link_to 'Options', dominion_options_cardpicker_path %>
<hr />
<%= link_to 'Shuffle and Pick Again', dominion_cardpicker_path %>
<hr />

<ul style="list-style-type: none;">
<% for card in @cards %>
	<li>
    <%= image_tag "#{card.card_type}.png", :style => "vertical-align: text-bottom" %>
    <%= image_tag "#{card.cost}.png", :style => "vertical-align: text-bottom" %>
    <%= link_to card.name, cardpicker_path( card ) %>
  </li>
<% end %>
<% if @cards.length < 10 %>
  <li>Perhaps you forgot to add a main set?</li>
<% end %>
</ul>

<hr />

