<% title @card.name %>

<div id="topbar"> 
	<div id="leftnav">
	  <%= link_to image_tag( 'home.png' ), cardpicker_index_path %>
	  <% unless @game == 'Start Player' %>
	    <%= link_to 'Back', :back %>
	  <% end %>
	</div> 
	<div id="title">Card Picker</div>
</div>

<div id="tributton">
  <div class="links">
    <%= tributton_links @game %>
  </div>
</div>

<div id="content">
  <% if @game == 'Start Player' %>
    <% form_tag( :action => :startplayer, :method => :get ) do %>
      <ul class="pageitem">
        <li class="button">
          <%= submit_tag  "Flip another card!" %>
        </li>
      </ul>
    <% end %>
  <% end %>
  
  <ul class="pageitem">
    <li class="textbox">        
      <span class="header"><%= @card.name %></span>
      <p><%= @text %></p>
    </li>
  </ul>
  
  <% if @game == 'Dominion' %>
    <%= image_tag @img, :class => 'center' %>
  <% else %>
    <% if File.exist?( RAILS_ROOT + '/public/images/' + @img ) %>            
      <%= image_tag @img, :class => 'center' %>
    <% end %>
  <% end %>       
  
</div>

