<% title @game %>

<div id="topbar"> 
	<div id="leftnav">
	  <%= link_to image_tag( 'home.png' ), cardpicker_index_path %>
	</div> 
	<div id="title">Card Picker</div>
	<div id="rightnav">
    <%= link_to 'Options', thunderstone_options_cardpicker_path %>
  </div>	  
</div>

<div id="tributton">
  <div class="links">
    <%= tributton_links @game %>
  </div>
</div>

<div id="content">
  
  <% form_tag( :action => :thunderstone, :method => :get ) do %>
    <ul class="pageitem">
      <li class="button">
        <%= submit_tag  "Shuffle and Pick Again" %>
      </li>
    </ul>
  <% end %>
  
  <span class="graytitle">Village Cards</span>
  <ul class="pageitem">
    <% if @sort_type == 'cost' %>
      <% for card in @cards.select { |card| card.card_type =~ /Village/ }.sort_by { |a| [a.cost, a.name] } %>
      <li class="menu">      
        <% link_to( cardpicker_path( card )) do %>
          <%= image_tag "#{card.cost}.png" %>
          <span class="name"><%= card.name %></span>
          <span class="arrow" />
        <% end %>
      </li>
      <% end %>
    <% else %>
      <% for card in @cards.select { |card| card.card_type =~ /Village/ }.sort { |a,b| a.name <=> b.name } %>
      <li class="menu">     
        <% link_to( cardpicker_path( card )) do %> 
          <%= image_tag "#{card.cost}.png" %>
          <span class="name"><%= card.name %></span>
          <span class="arrow" />
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>

  <span class="graytitle">Monsters</span>
  <ul class="pageitem">
    <% for card in @cards.select { |card| card.card_type =~ /Monster/ } %>
    <li class="menu">
      <% link_to( cardpicker_path( card )) do %>
        <span class="name"><%= card.name %></span>
        <span class="arrow" />
      <% end %>
    </li>
    <% end %>
  </ul>

  <span class="graytitle">Heroes</span>
  <ul class="pageitem">
    <% for card in @cards.select { |card| card.card_type =~ /Hero/ } %>
    <li class="menu">
      <% link_to( cardpicker_path( card )) do %>
        <span class="name"><%= card.name %></span>
        <span class="arrow" />
      <% end %>
    </li>
    <% end %>
  </ul>
</div>

